[data-mode="mobile"] {
  #app-main {
    width: 100%;
  }

  // 侧边栏
  .sidebar-container {
    transform: translate(calc((var(--g-main-sidebar-width) + var(--g-sub-sidebar-width)) * -1));

    &.show {
      transform: translate(0);
    }
  }

  // 内容主体
  .main-container {
    margin-left: 0 !important;
  }

  // 侧边栏模式（无主导航）
  &[data-menu-mode="single"] {
    .sidebar-container {
      transform: translate(calc(var(--g-sub-sidebar-width) * -1));
    }

    .sidebar-container.show {
      transform: translate(0);
    }
  }

  // PageHeader 组件
  .header {
    flex-direction: column;

    .main {
      margin-right: auto;
      margin-bottom: 20px;
    }
  }

  // 右侧内容区针对 fixed 元素，有横向铺满的需求
  [data-fixed-calc-width] {
    width: 100% !important;
    transform: translateX(-50%) !important;
  }

  // 登录部分
  .login-box {
    position: relative;
    top: inherit;
    left: inherit;
    justify-content: start;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    transform: translateX(0) translateY(0);
    flex-direction: column;

    .login-banner {
      padding: 20px 0;
      width: 100%;

      .banner {
        position: relative;
        top: inherit;
        right: inherit;
        display: inherit;
        margin: 0 auto;
        width: 100%;
        max-width: 375px;
        transform: translateY(0);
      }
    }

    .login-form {
      padding: 30px;
      width: 100%;
      min-height: auto;
    }
  }

  // 底部版权
  .copyright {
    position: relative;
    bottom: 0;
    padding-bottom: 10px;
  }
}
