/*
 * @Description: 页宽设置
 * @Date: 2022-12-01 21:11:48
 * @LastEditTime: 2022-12-08 23:00:37
 */

// 右侧内容区针对 fixed 元素，有横向铺满的需求，可在 fixed 元素上设置 [data-fixed-calc-width]
[data-fixed-calc-width] {
	position: fixed;
	left: 50%;
	right: 0;
}

// 自适应宽度/自适应(有最小宽度)
[data-app-width-mode='adaption'] [data-fixed-calc-width],
[data-app-width-mode='adaption-min-width'] [data-fixed-calc-width] {
	width: calc(100% - var(--g-main-sidebar-actual-width) - var(--g-sub-sidebar-actual-width));
	transform: translate(-50%) translate(calc(var(--g-main-sidebar-actual-width) / 2)) translate(calc(var(--g-sub-sidebar-actual-width) / 2));
}

// 定宽居中/定宽居中(有最大宽度)
[data-app-width-mode='center'] [data-fixed-calc-width],
[data-app-width-mode='center-max-width'] [data-fixed-calc-width] {
	width: calc(var(--g-app-width) - var(--g-main-sidebar-actual-width) - var(--g-sub-sidebar-actual-width));
	transform: translate(-50%) translate(calc(var(--g-main-sidebar-actual-width) / 2)) translate(calc(var(--g-sub-sidebar-actual-width) / 2));
}

@media screen and (max-width: 1400px) {
	[data-app-width-mode='center'] [data-fixed-calc-width],
	[data-app-width-mode='center-max-width'] [data-fixed-calc-width] {
		width: calc(100% - var(--g-main-sidebar-actual-width) - var(--g-sub-sidebar-actual-width));
		transform: translate(-50%) translate(calc(var(--g-main-sidebar-actual-width) / 2)) translate(calc(var(--g-sub-sidebar-actual-width) / 2));
	}
}

// 自适应模式
[data-app-width-mode='adaption'] {
	#app-main {
		width: 100%;
	}
}

// 自适应（有最小宽度）
[data-app-width-mode='adaption-min-width'] {
	#app-main {
		width: max(var(--g-app-width), 100%);
	}
}

// 定宽居中
[data-app-width-mode='center'] {
	#app-main {
		width: var(--g-app-width);
	}

	header {
		width: var(--g-app-width);
		max-width: 100%;
	}
}

// 定宽居中（有最大宽度）
[data-app-width-mode='center-max-width'] {
	#app-main {
		width: min(var(--g-app-width), 100%);
	}

	header {
		width: var(--g-app-width);
		max-width: 100%;
	}
}
